<script lang="ts">
import { ref, inject } from 'vue'

import FollowButton from '@/components/FollowButton.vue'
import LoadingScreen from '@/components/LoadingScreen.vue'
import ErrorMessage from '@/components/ErrorMessage.vue'

import { getFollows } from '@/settingsManager'
import { postEndpoint, abbreviate } from '@/mixins'
import type { StreamerData } from '@/types'

export default {
  inject: ['rootBackendUrl'],
  setup() {
    let data = ref<StreamerData[]>()
    let status = ref<'ok' | 'error'>()

    return {
      data,
      status,
      rootBackendUrl: inject('rootBackendUrl')
    }
  },
  methods: {
    abbreviate
  },
  async mounted() {
    const follows = getFollows()

    const payload = {
      streamers: follows
    }

    // do not make request if no followers
    if (follows.length == 0) {
      this.data = []
      return
    }

    await postEndpoint('api/users/bulk', payload)
      .catch(() => {
        this.status = 'error'
      })
      .then((data: StreamerData[]) => {
        this.data = data
      })
  },
  components: {
    LoadingScreen,
    FollowButton,
    ErrorMessage
  }
}
</script>
<template>
  <loading-screen v-if="!data && status != 'error'"></loading-screen>
  <error-message v-else-if="status == 'error'"></error-message>
  <div
    v-else-if="data"
    class="md:max-w-[50rem] w-full mx-auto text-contrast flex flex-col justify-center"
  >
    <div v-if="data.length == 0" class="text-center">
      <h1 class="text-3xl font-bold">{{ $t('following.empty') }}</h1>
      <p>{{ $t('following.followAdvice') }}</p>
    </div>

    <div class="text-center">
      <h1 class="text-3xl font-bold">{{ $t('home.following') }}</h1>
      <p>{{ $t('home.streamersYouFollow') }}</p>
    </div>

    <ul class="m-2 flex flex-wrap justify-center">
      <li v-for="streamer in data" :key="streamer.login" class="">
        <div class="inline-flex bg-overlay0 p-2.5 m-1 rounded-md w-[22rem]">
          <img :src="streamer.pfp" class="w-16 rounded-full" />
          <div class="justify-between flex flex-col ml-2">
            <h1 class="text-2xl font-bold">{{ streamer.username }}</h1>
            <span>{{ abbreviate(streamer.followers) }} Followers</span>
          </div>
          <div class="my-auto ml-9">
            <follow-button :username="streamer.login"></follow-button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>
